In [1]:
dict_0={"name":"tamim","age":10,"country":"bangladesh","city":"dhaka"}

In [2]:
for i in dict_0:
  print(i)

name
age
country
city

In [3]:
for i in dict_0.keys():
  print(i)

name
age
country
city

# print values

In [4]:
for i in dict_0:
  print(dict_0[i])

tamim
10
bangladesh
dhaka

In [6]:
for i in dict_0.values():
  print(i)

tamim
10
bangladesh
dhaka

In [7]:
dict_0={"name":"tamim","age":10,"country":"bangladesh","city":"dhaka"}

In [8]:
for i in dict_0:
  print(f"{i}:{(dict_0[i])}")

name:tamim
age:10
country:bangladesh
city:dhaka

In [11]:
for m,n in dict_0.items():
  print(f" {m} : {n  }")

 name : tamim
 age : 10
 country : bangladesh
 city : dhaka

In [12]:
new_dict={}

In [14]:
for z,x  in dict_0.items():
  new_dict[z]=x
print(new_dict)

{'name': 'tamim', 'age': 10, 'country': 'bangladesh', 'city': 'dhaka'}