In [1]:
text="bangladesh is a small country"

In [5]:
for i in text:
  print(i)
  # print(text)

b
a
n
g
l
a
d
e
s
h

i
s

a

s
m
a
l
l

c
o
u
n
t
r
y

In [6]:
for i in text:
  print(text)

bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country
bangladesh is a small country

In [7]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [9]:
for i in range(10,20):
  print(i)

10
11
12
13
14
15
16
17
18
19

In [10]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [11]:
lst=[1,2,3,44,55,66,77,8,9,100,11,12]

In [12]:
for i in range(len(lst)):
  print(lst[i])

1
2
3
44
55
66
77
8
9
100
11
12

In [13]:
for i in  range(len(lst)):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [15]:
sum=0
for i in range(0,3):
  sum +=int(input("ENter your numbers : "))
avg=sum/3
print("Average value is ",avg)

ENter your numbers : 10
ENter your numbers : 20
ENter your numbers : 30
Average value is  20.0