In [4]:
for i in range(0,6):
  for j in range(i):
    print("*",end="")
  print()

*
**
***
****
*****

In [6]:
for i in range(6): # i starts from 0 to 5
  for j  in range(i):
    print("*",end="")
  print()
for i in range(6): # i starts from 0 to 5
  for j  in range(6-i):
    print("*",end="")
  print()

*
**
***
****
*****
******
*****
****
***
**
*

In [7]:
def pattern(n):
   for i in range(1, n+1):
      # printing stars
      print(" " * (n-i) + "*" * i)
 
# take inputs
n = int(input('Enter the number of rows: '))

# calling function
pattern(n)

Enter the number of rows: 8
       *
      **
     ***
    ****
   *****
  ******
 *******
********