In [6]:
# index of an item in a list
list_1=["dhaka","bangla","khulna","dinajpur",12,3,4,5,6,7,8,10]
list_1

['dhaka', 'bangla', 'khulna', 'dinajpur', 12, 3, 4, 5, 6, 7, 8, 10]

In [7]:
list_1.index("khulna")
print(list_1)

['dhaka', 'bangla', 'khulna', 'dinajpur', 12, 3, 4, 5, 6, 7, 8, 10]

In [8]:
list_1.insert(1,"horse")
print(list_1)

['dhaka', 'horse', 'bangla', 'khulna', 'dinajpur', 12, 3, 4, 5, 6, 7, 8, 10]

In [11]:
list_2=[1,2,3,4,5,6,7,"bangla","english","math","cat"]
my_list=[[1,2,3,4],
         [4,5,6,7],
         [7,8,9,10]]
my_list

[[1, 2, 3, 4], [4, 5, 6, 7], [7, 8, 9, 10]]

In [13]:
flatten_list=[i for  sublist in my_list for i in sublist]
flatten_list

[1, 2, 3, 4, 4, 5, 6, 7, 7, 8, 9, 10]

In [15]:
copy_list=list_1.copy()
print(copy_list)

['dhaka', 'horse', 'bangla', 'khulna', 'dinajpur', 12, 3, 4, 5, 6, 7, 8, 10]

In [16]:
print(list_1)
print("+++++++++++++++++++++++++++++++++++++++")
print(list_2)

['dhaka', 'horse', 'bangla', 'khulna', 'dinajpur', 12, 3, 4, 5, 6, 7, 8, 10]
+++++++++++++++++++++++++++++++++++++++
[1, 2, 3, 4, 5, 6, 7, 'bangla', 'english', 'math', 'cat']

In [17]:
z=list(zip(list_1,list_2))
print(z)

[('dhaka', 1), ('horse', 2), ('bangla', 3), ('khulna', 4), ('dinajpur', 5), (12, 6), (3, 7), (4, 'bangla'), (5, 'english'), (6, 'math'), (7, 'cat')]

In [18]:
list_3=["p"]*10
print(list_3)

['p', 'p', 'p', 'p', 'p', 'p', 'p', 'p', 'p', 'p']

In [19]:
list_1

['dhaka', 'horse', 'bangla', 'khulna', 'dinajpur', 12, 3, 4, 5, 6, 7, 8, 10]

In [23]:
list_4=[1,2,3,4,5,6,7,8,9]
for x in list_4:
    if x%2==0:
        print(x,"EVEN")
    else:
        print(x,"ODD")

1 ODD
2 EVEN
3 ODD
4 EVEN
5 ODD
6 EVEN
7 ODD
8 EVEN
9 ODD

In [26]:
filter_list=[i for i in list_4 if i%2!=0]
filter_list

[1, 3, 5, 7, 9]

In [28]:
# list to dicrectory
list_key=[1,2,3]
list_value=["one","two","three"]
my_new_dic=dict(zip(list_key,list_value))
my_new_dic

{1: 'one', 2: 'two', 3: 'three'}

In [29]:
list_1,list_2

(['dhaka', 'horse', 'bangla', 'khulna', 'dinajpur', 12, 3, 4, 5, 6, 7, 8, 10],
 [1, 2, 3, 4, 5, 6, 7, 'bangla', 'english', 'math', 'cat'])

In [30]:
new=list(set(list_1)& set(list_2))
new

[3, 4, 5, 6, 7, 'bangla']

In [31]:
new1=set(list_1).intersection(list_2)
new1

{3, 4, 5, 6, 7, 'bangla'}

In [32]:
new2=list(new1)
print(new2)

[3, 4, 5, 6, 7, 'bangla']

In [35]:
x="bangladesh is a poor country"
x=list(x)
char_list=[ch for ch in x]
print(char_list)

['b', 'a', 'n', 'g', 'l', 'a', 'd', 'e', 's', 'h', ' ', 'i', 's', ' ', 'a', ' ', 'p', 'o', 'o', 'r', ' ', 'c', 'o', 'u', 'n', 't', 'r', 'y']