In [18]:
x="bangladesh is a poor country"
print(x)

bangladesh is a poor country

In [19]:
x="bangla"
y="english"
z=x+" "+y
print(z)

bangla english

In [20]:
h="artificial intelligence"
for i in range(0,len(h)):
    print(i,"===",h[i])

0 === a
1 === r
2 === t
3 === i
4 === f
5 === i
6 === c
7 === i
8 === a
9 === l
10 ===
11 === i
12 === n
13 === t
14 === e
15 === l
16 === l
17 === i
18 === g
19 === e
20 === n
21 === c
22 === e

In [21]:
h=len(h)
print(f"string length : {h}")

string length : 23

In [22]:
a="Artificial Intelligence"
print(a[: 4])
print("===================================")
lower=a.lower()
print(lower)
print("****************************************")
uper=a.upper()
print(uper)
print("---------------------------------------------")
cap=a.capitalize()
print(cap)

Arti
===================================
artificial intelligence
****************************************
ARTIFICIAL INTELLIGENCE
---------------------------------------------
Artificial intelligence

In [23]:
# for i in range(10):
#     print(i)

In [24]:
b="Artificial Intelligence"
b="Intelligence"
c=b in b
print(c)

True

In [25]:
d="Artificial /@Intelligence"
d=d.split("/@")
print(d)

['Artificial ', 'Intelligence']

In [26]:
e="  Artificial Intelligence   "
str=e.strip()
print(str)

Artificial Intelligence

In [27]:
#lstrip
e="  Artificial Intelligence   "
lstr=e.lstrip()
print("bangladesh",lstr,"left strip")

bangladesh Artificial Intelligence    left strip

In [28]:
e="  Artificial Intelligence   "
rstr=e.rstrip()
print("right strip :",rstr,"bangladesh")

right strip :   Artificial Intelligence bangladesh

In [29]:
test=",,,...grt&**....bangladesh......"
x=test.strip(",.grt&*")
print(x)

bangladesh

In [30]:
name="mongol_singh"
age=40
height=30
string_format=f"Name is : {name}\nAge is : {age}\nHeight is : {height}"
print(string_format)

Name is : mongol_singh
Age is : 40
Height is : 30

In [33]:
string_for=f"Name is:\t{name}\nAge is:\t{age}\nHeight is:\t{height}"
print(string_for)

Name is:	mongol_singh
Age is:	40
Height is:	30

In [35]:
x="math is tough subject"
x_re=x.replace("tough",'tough:worst')
print(x_re)

math is tough:worst subject

In [37]:
x_re=x.endswith("subject")
print(x_re)

True

In [38]:
x="math is tough subject"
x_find=x.find("subject") #find index value
print(x_find)

14

In [41]:
x="math is tough subject"
x_index=x.index("subject") 
try:
    index_val=x.index("python")
    print(index_val)
except ValueError:
    index_value="This is a Error"
    print(index_value)

This is a Error

In [42]:
y="math is tough subject"
rev=y[: :-1]
print(rev)

tcejbus hguot si htam

In [43]:
count=y.count("s")
print(count)

2

In [49]:
l=["bangla","english","hindi","math"]
join=",".join(l)
print(join)

bangla,english,hindi,math

In [50]:
strx="bangladesh india pakistan123"
num_check=strx.isalnum()
print(num_check)

False

In [51]:
strx="88457875123"
num_check=strx.isalnum()
print(num_check)

True

In [52]:
stry="bangladesh hindi math"
cap=stry.title()
print(cap)

Bangladesh Hindi Math

In [54]:
str_z="bangladesh hindi math"
l=str_z.islower()
u=str_z.isupper()
print(f"Upper is : {u}\nLower is : {l}")

Upper is : False
Lower is : True