In [1]:
tuple0=(1,2,3,4,5)

In [2]:
x=sum(tuple0)

In [3]:
print("Sum of Tuple\n",x)

Sum of Tuple
 15

In [4]:
y=len(tuple0)

In [5]:
print("Average is\n",x/y)

Average is
 3.0

In [6]:
print("Reverse tuple\n",tuple0[:      :      -1])

Reverse tuple
 (5, 4, 3, 2, 1)

In [7]:
print(tuple0.count(1))

1